[user]
	name = Vladimir Sazhin
	email = vladimirsazhin@jetstyle.ru
[alias]
	co = checkout
	ci = commit
	ri = rebase -i
	st = status -sb
	short = rev-parse --short
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[push]
	default = simple
[pull]
	rebase = true
[log]
	abbrevCommit = true
